{% extends 'dashboard/base/base.html' %}

{% block title %} アイディアの更新 | Dashboard {% endblock %}

{% block custom_css %}
  <!-- Add any additional CSS styles if needed -->
  <style>
    /* Your custom styles go here */
    img.preview {
      width: 100%;
      max-height: 300px;
      object-fit: cover;
      border-radius: 10px;
      margin-bottom: 10px;
    }
  </style>
{% endblock %}

{% block body %}

<div class="container-fluid">
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-primary" {% if message.tags %}
                     class="{{ message.tags }}"{% endif %}>{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">アイディアの更新</h6>
        </div>
        <div class="row" style="padding: 20px;">
            <div class="col-10 mx-auto">
                <form action="{% url 'edit_post' id=obj.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="title">タイトルの更新</label>
                        <input type="text" id="title" class="form-control" placeholder="Edit Blog Title" name="title" value="{{ obj.title }}" required>
                    </div>
                    <div class="form-group">
                        <label for="detail">詳細の更新</label>
                        <textarea class="form-control" id="detail" name="detail" rows="10" placeholder="Edit Blog Details" required>{{ obj.detail }}</textarea>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="customFile">画像の更新</label>
                        {% if obj.image %}
                          <img src="{{ obj.image.url }}" alt="Current Image" class="preview">
                        {% endif %}
                        <input type="file" class="form-control" id="customFile" name="image" />
                    </div>
                    <div class="form-group">
                      <label class="form-label" for="customFiles">添付ファイルの更新</label>
                      {% if obj.files.all %}
                          {% for file in obj.files.all %}
                              <p><a href="{{ file.file.url }}" target="_blank">{{ file.file.name|slice:"11:" }}</a></p>
                          {% endfor %}
                      {% endif %}
                      <input type="file" class="form-control" id="customFiles" name="files" multiple />
                  </div>

                    <input type="submit" value="更新">
                </form>

                <!-- Confirmation Modal -->
                <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="confirmationModalLabel">更新の確認</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>このアイディアを本当に更新しますか？</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                        <button type="submit" class="btn btn-primary">更新</button>
                      </div>
                    </div>
                  </div>
                </div>
                
            </div>
        </div>
    </div>

</div>

<script>
  // Confirm update before submission
  $(document).ready(function() {
    $('#confirmationModal').on('show.bs.modal', function (e) {
      // Prevent form submission when modal is shown
      e.preventDefault();

      // Trigger form submission when modal '更新' button is clicked
      $('#confirmationModal .btn-primary').click(function () {
        $('#editForm').submit();
      });
    });
  });
</script>

{% endblock %}
