{% extends user.is_authenticated|yesno:'dashboard/base/base.html,home/base/base.html' %}

{% block title %}
    {% if user.is_authenticated %}
        {{ user.author.author.username }} | Dashboard
    {% else %}
        CHANGE THE LIFESTYLE
    {% endif %}
{% endblock %}

{% block contents %}
    {% if not user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-light bg-black fixed-top">
      <div class="container px-5">
        <div class="navbar-header">
          <a class="navbar-brand" style="color: white;" href="{% url 'home' %}">CHANGE THE LIFESTYLE</a>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
          <div class="navbar-nav ml-auto">
              <a href="{% url 'login' %}" class="btn btn-warning mx-2">ログイン</a>
              <a href="{% url 'create_user' %}" class="btn btn-warning mx-2">新規登録</a>
          </div>
      </div>
      </div>
  </nav>

    <div class="container mt-5">
    {% endif %}

    {% block body %}
        <h2 class="text-center mt-4">実績（商品化されたもの）</h2>

        <!-- Display Featured Posts -->
        <h4>人気品</h4>
        {% for post in featured_posts %}
            <div class="post">
                <h3><a href="{% url 'post' post.id %}">{{ post.title }}</a></h3>
                {% if post.image %}
                        <img src="{{ post.image.url }}" alt="" style="max-width: 300px; max-height: 200px;">
                        {% else %}
                        <img src="" alt="">
                        {% endif %}
            </div>
            <hr>
        {% endfor %}

        <!-- Display Paginated Posts -->
        <h5>商品化一覧</h5>
        {% for post in posts %}
            <div class="post">
                <h3><a href="{% url 'post' post.id %}">{{ post.title }}</a></h3>
                {% if post.image %}
                        <img src="{{ post.image.url }}" alt="" style="max-width: 300px; max-height: 200px;">
                        {% else %}
                        <img src="" alt="">
                        {% endif %}
            </div>
            <hr>
        {% endfor %}

        <!-- Add Pagination Controls -->
        
    {% endblock %}

    {% if not user.is_authenticated %}
    </div> <!-- Closing container for content -->
    {% endif %}
{% endblock %}
